services:
  # FRONTEND - Vite Build + Serve
  - name: customer-support-frontend
    type: web
    repo: https://github.com/Ravi-Katiyar04/customer_support_agent
    branch: main
    env: static
    buildCommand: cd frontend && npm install && npm run build
    staticPublishPath: frontend/dist
    envVars:
      - key: VITE_API_URL
        sync: false

  # BACKEND - FastAPI + ADK (Docker)
  - name: customer-support-backend
    type: web
    repo: https://github.com/Ravi-Katiyar04/customer_support_agent
    branch: main
    env: docker
    dockerfilePath: backend/Dockerfile
    envVars:
      - key: DB_URL
        value: sqlite+aiosqlite:///tmp/database.db
      - key: OPENAI_API_KEY
        sync: false
