services:
  # FRONTEND - React Vite static build
  - type: service
    name: customer-support-frontend
    repo: https://github.com/Ravi-Katiyar04/customer_support_agent
    branch: main
    buildCommand: cd frontend && npm install && npm run build
    startCommand: npx serve -s frontend/dist -l 3000
    envVars:
      - key: VITE_API_URL
        sync: false

  # BACKEND - FastAPI + ADK running in Docker
  - type: service
    name: customer-support-backend
    repo: https://github.com/Ravi-Katiyar04/customer_support_agent
    branch: main
    dockerfilePath: backend/Dockerfile
    envVars:
      - key: DB_URL
        value: sqlite+aiosqlite:///tmp/database.db
      - key: OPENAI_API_KEY
        sync: false
