services:
  # FRONTEND (React + Vite)
  - type: app
    name: customer-support-frontend
    repo: https://github.com/Ravi-Katiyar04/customer_support_agent
    branch: main
    runtime: node
    buildCommand: cd frontend && npm install && npm run build
    startCommand: npx serve -s frontend/dist -l 3000
    envVars:
      - key: VITE_API_URL
        sync: false

  # BACKEND (FastAPI + ADK)
  - type: app
    name: customer-support-backend
    repo: https://github.com/Ravi-Katiyar04/customer_support_agent
    branch: main
    runtime: docker
    dockerfilePath: backend/Dockerfile
    envVars:
      - key: DB_URL
        value: sqlite+aiosqlite:///tmp/database.db
      - key: OPENAI_API_KEY
        sync: false
