
# fastapi
# uvicorn
# python-dotenv
# adk
# google-adk
# google-genai
# google-cloud-aiplatform
# pydantic
# requests

fastapi
uvicorn
python-dotenv
pydantic
requests
aiohttp
google-cloud-aiplatform


